# Caminho para os exemplos
EXAMPLES_ROOT=/home/alan/Documentos/go-workspace/src/cmd/examples

# Configuração do banco PostgreSQL
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=nome_do_banco
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# Configuração da porta do servidor
API_PORT=8000

# Chave secreta para assinatura de tokens JWT
JWT_SECRET=
